{% extends "jijin/jijin_base.html" %}

{% block content %}
    <!-- <div style="overflow:scroll; width:1280px; height: 1200px;"> -->
    <div style="top: 100px;">

        <!-- 新增日程-->
        <form class="layui-form" method="post" action="">

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>基本信息</legend>
                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">基金简称</label>
                        <div class="layui-input-block">
                            <input type="text" name="fund_abbreviation" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">基金全称</label>
                        <div class="layui-input-block" style="width: 463px;">
                            <input type="text" name="fundname" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">基金规模</label>
                        <div class="layui-input-block">
                            <input type="text" name="fundscope" autocomplete="off" placeholder="￥      万"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">当前规模</label>
                        <div class="layui-input-block">
                            <input type="text" name="presentscope" autocomplete="off" placeholder="￥      万"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">管理公司</label>
                        <div class="layui-input-block">
                            <input type="text" name="management_company" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">设立日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="builddate" id="date1" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">投资期结束日</label>
                        <div class="layui-input-block">
                            <input type="text" name="investenddate" id="date2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">经营到期日</label>
                        <div class="layui-input-block">
                            <input type="text" name="businessdate" id="date3" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">注册地址</label>
                        <div class="layui-input-block" style="width: 760px;">
                            <input type="text" name="address" id="" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">关注行业</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="industryfocus" value="医疗健康" title="医疗健康" checked>
                        <input type="checkbox" name="industryfocus" value="文化娱乐" title="文化娱乐">
                        <input type="checkbox" name="industryfocus" value="节能环保" title="节能环保">
                        <input type="checkbox" name="industryfocus" value="先进制造" title="先进制造">
                        <input type="checkbox" name="industryfocus" value="农业" title="农业">
                        <input type="checkbox" name="industryfocus" value="消费服务" title="消费服务">
                        <input type="checkbox" name="industryfocus" value="信息技术及应用领域" title="信息技术及应用领域">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">关注阶段</label>
                        <div class="layui-input-block">
                            <select name="concernstage" lay-filter="aihao">
                                <option value=""></option>
                                <option value="早期">早期</option>
                                <option value="成长期">成长期</option>
                                <option value="成熟期">成熟期</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">基金简介</label>
                    <div class="layui-input-block">
                        <textarea lay-verify="article_desc" name="fund_introduce" id="demo"
                                  style="display: none;"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">管理费</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="manage_money"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">收益分配</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea"
                                  name="income_distribution"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">门槛</label>
                    <div class="layui-input-block">
                        <textarea style="min-height: 50px" placeholder="请输入内容" class="layui-textarea"
                                  name="threshold"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>运营信息</legend>

                <div class="layui-form-item" style="margin-top: 30px">
                    <label class="layui-form-label">托管行名称</label>
                    <div class="layui-input-block" style="width: 760px;">
                        <input type="text" name="hosting_bank_name" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="account_name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block" style="width: 760px;">
                                <input type="text" name="account_number" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">审计机构</label>
                    <div class="layui-input-block" style="width: 760px;">
                        <input type="text" name="audit_institution" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">律师事务所</label>
                    <div class="layui-input-block" style="width: 760px;">
                        <input type="text" name="law_office" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">目标规模</label>
                        <div class="layui-input-block">
                            <input type="text" name="target_size" placeholder="￥         亿" id="" autocomplete="on"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;padding-left: 0px;padding-right: 0px;">投资委批准金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="approved_by_the_Commission" placeholder="￥         亿" id=""
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">承诺出资汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="commitment_funding_summary" placeholder="￥         万" id=""
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">规模汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="scale_summary" placeholder="￥         万" id="date"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">累计投资金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="cumulative_investment_amount" placeholder="￥         万" id="date"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">累计回收金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="cumulative_recovery_amount" placeholder="￥         万" id="date"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">当前规模汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="current_size_summary" placeholder="￥         万" id="date"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">当前承诺汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="current_commitment_summary" placeholder="￥         万" id="date"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">母基金DPI</label>
                        <div class="layui-input-block">
                            <input type="text" name="parent_fund_DPI" id="date" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>其他信息</legend>

                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">年度管理费率</label>
                        <div class="layui-input-block">
                            <input type="text" name="annual_management_rate" placeholder="0         %" id=""
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;padding-left: 0px;padding-right: 0px;">年度管理费基数</label>
                        <div class="layui-input-block">
                            <input type="text" name="annual_management_fee_base" id="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">年检结果</label>
                        <div class="layui-input-block">
                            <input type="text" name="annual_inspection_result" id="" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">备案机构</label>
                        <div class="layui-input-block">
                            <input type="text" name="filing_agency" id="" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备案时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="filing_time" id="date4" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备案结果</label>
                        <div class="layui-input-block">
                            <input type="text" name="filing_result" id="" class="layui-input">
                        </div>
                    </div>
                </div>


            </fieldset>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            // 富文本编辑器
            layedit.build("demo");
            //日期
            laydate.render({
                elem: '#date1'
            });
            laydate.render({
                elem: '#date2'
            });
            laydate.render({
                elem: '#date3'
            });
            laydate.render({
                elem: '#date4'
            });

            //创建一个富文本编辑器
            var editIndex = layedit.build('demo');

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
                , article_desc: function (value) {
                    layedit.sync(editIndex);
                }

            });

            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                var arr = [];
                $("input:checkbox[name='industryfocus']:checked").each(function (i) {
                    {#console.log($(this).val());#}
                    arr[i] = $(this).val();
                });

                data.field.industryfocus = arr.join(",");
                {#alert(arr);#}
                console.log(arr);


                $.ajax({
                    url: "/jijin/jijin/addHandle/",
                    type: "post",
                    data: data.field,
                    dataType: "json",
                    success: function (res) {
                        {#console.log(res);#}
                        {#console.log(typeof res);#}
                        if (res === 2) {
                            layer.msg("新增失败！", {
                                time: 3000
                            })
                        } else if (res === 3) {
                            layer.msg("系统出错！", {
                                time: 3000
                            })
                        } else if (res === 1) {
                            layer.msg("添加成功！", {
                                time: 3000
                            });
                            window.location.href = "/jijin/jijin/"

                        }
                    }
                });

                {#layer.alert(JSON.stringify(data.field), {#}
                {#    title: '最终的提交信息'#}
                {#,});#}

                return false;
            });

        });

    </script>
{% endblock %}