{% extends "jijin/jijin_base.html" %}

{% block content %}
    <div style="margin-bottom: 5px;">
        <ins class="adsbygoogle" style="display:inline-block;" data-ad-client="ca-pub-6111334333458862"
             data-ad-slot="3820120620">
        </ins>
    </div>

    <div class="layui-btn-group demoTable">
        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
    </div>

    <table class="layui-table" lay-data="{ url:'/jijin/jijin/list_handle/', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            {#            <th lay-data="{field:'fund_id', width:100, sort: true, fixed: true}">ID</th>#}
            <th lay-data="{field:'fund_abbreviation', width:120}">基金简称</th>
            <th lay-data="{field:'fundscope', width:120}">基金规模</th>
            <th lay-data="{field:'builddate', width:120}">设立日期</th>
            <th lay-data="{field:'investment_account', width:150}">已投资项目总额</th>
            <th lay-data="{field:'commitment_funding_summary', width:150, sort: true}">承诺出资汇总</th>
            <th lay-data="{field:'scale_summary', width:100}">规模汇总</th>
            <th lay-data="{field:'cumulative_investment_amount', width:150}">累计投资金额</th>
            <th lay-data="{field:'cumulative_recovery_amount', width:150}">累计回收金额</th>
            <th lay-data="{field:'current_size_summary', width:150}">当前规模汇总</th>
            <th lay-data="{field:'current_commitment_summary', width:150}">当前承诺汇总</th>
            <th lay-data="{fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>

    <div class="layui-row" id="viewData" style="display: none;">
        <form class="layui-form" method="post" action="">

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0;">
                <legend>查看基金</legend>
            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>基本信息</legend>
                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">基金简称</label>
                        <div class="layui-input-block">
                            <input id="fund_abbreviation_2" type="text" name="fund_abbreviation" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">基金全称</label>
                        <div class="layui-input-block" style="width: 463px;">
                            <input id="fundname_2" type="text" name="fundname" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">基金规模</label>
                        <div class="layui-input-block">
                            <input type="text" id="fundscope_2" name="fundscope" autocomplete="off"
                                   placeholder="￥      万"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">当前规模</label>
                        <div class="layui-input-block">
                            <input type="text" id="presentscope_2" name="presentscope" autocomplete="off"
                                   placeholder="￥      万"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">管理公司</label>
                        <div class="layui-input-block">
                            <input type="text" id="management_company_2" name="management_company" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">设立日期</label>
                        <div class="layui-input-block">
                            <input type="text" name="builddate" id="builddate_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">投资期结束日</label>
                        <div class="layui-input-block">
                            <input type="text" name="investenddate" id="investenddate_2" autocomplete="on"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">经营到期日</label>
                        <div class="layui-input-block">
                            <input type="text" name="businessdate" id="businessdate_2" autocomplete="on"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">注册地址</label>
                        <div class="layui-input-block" style="width: 760px;">
                            <input type="text" name="address" id="address_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">关注行业</label>
                    <div class="layui-input-block">
                        {#                        <select name="event_association" lay-filter="aihao">#}
                        {#                            <option value=""></option>#}
                        {#                            {% for jijin in fund %}#}
                        {#                                <option value="{{ jijin.fund_id }}">{{ jijin.fund_name }}</option>#}
                        {#                            {% endfor %}#}
                        {#                        </select>#}
                        <input type="checkbox" name="industryfocus" title="医疗健康" checked>
                        <input type="checkbox" name="industryfocus" title="文化娱乐">
                        <input type="checkbox" name="industryfocus" title="节能环保">
                        <input type="checkbox" name="industryfocus" title="先进制造">
                        <input type="checkbox" name="industryfocus" title="农业">
                        <input type="checkbox" name="industryfocus" title="消费服务">
                        <input type="checkbox" name="industryfocus" title="信息技术及应用领域">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">关注阶段</label>
                        <div class="layui-input-block">
                            {#                            <select name="concernstage_2" lay-filter="aihao">#}
                            {#                                <option value=""></option>#}
                            {#                                <option value="早期">早期</option>#}
                            {#                                <option value="成长期">成长期</option>#}
                            {#                                <option value="成熟期">成熟期</option>#}
                            {#                            </select>#}
                            <input id="concernstage_2" type="text" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item ">
                    <label class="layui-form-label">基金简介</label>
                    <div class="layui-input-block">
                        <textarea name="fund_introduce" id="fund_introduce_2" style="display: none;"  class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">管理费</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="manage_money_2" class="layui-textarea"
                                  name="manage_money"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">收益分配</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="income_distribution_2" class="layui-textarea"
                                  name="income_distribution"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">门槛</label>
                    <div class="layui-input-block">
                        <textarea style="min-height: 50px" placeholder="请输入内容" class="layui-textarea" id="threshold_2"
                                  name="threshold"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>运营信息</legend>

                <div class="layui-form-item" style="margin-top: 30px">
                    <label class="layui-form-label">托管行名称</label>
                    <div class="layui-input-block" style="width: 760px;">
                        <input type="text" id="hosting_bank_name_2" name="hosting_bank_name" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">户名</label>
                        <div class="layui-input-block">
                            <input type="text" id="account_name_2" name="account_name" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-inline">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block" style="width: 760px;">
                                <input type="text" id="account_number_2" name="account_number" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">审计机构</label>
                    <div class="layui-input-block" style="width: 760px;">
                        <input type="text" id="audit_institution_2" name="audit_institution" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">律师事务所</label>
                    <div class="layui-input-block" style="width: 760px;">
                        <input type="text" id="law_office_2" name="law_office" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">目标规模</label>
                        <div class="layui-input-block">
                            <input type="text" name="target_size" placeholder="￥         亿" id="target_size_2"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;padding-left: 0px;padding-right: 0px;">投资委批准金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="approved_by_the_Commission" placeholder="￥         亿"
                                   id="approved_by_the_Commission_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">承诺出资汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="commitment_funding_summary" placeholder="￥         万"
                                   id="commitment_funding_summary_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">规模汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="scale_summary" placeholder="￥         万" id="scale_summary_2"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">累计投资金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="cumulative_investment_amount" placeholder="￥         万"
                                   id="cumulative_investment_amount_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">累计回收金额</label>
                        <div class="layui-input-block">
                            <input type="text" name="cumulative_recovery_amount" placeholder="￥         万"
                                   id="cumulative_recovery_amount_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">当前规模汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="current_size_summary" placeholder="￥         万"
                                   id="current_size_summary_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">当前承诺汇总</label>
                        <div class="layui-input-block">
                            <input type="text" name="current_commitment_summary" placeholder="￥         万"
                                   id="current_commitment_summary_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">母基金DPI</label>
                        <div class="layui-input-block">
                            <input type="text" name="parent_fund_DPI" id="parent_fund_DPI_2" autocomplete="on"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>其他信息</legend>

                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">年度管理费率</label>
                        <div class="layui-input-block">
                            <input type="text" name="annual_management_rate" placeholder="0         %"
                                   id="annual_management_rate_2" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 100px;padding-left: 0px;padding-right: 0px;">年度管理费基数</label>
                        <div class="layui-input-block">
                            <input type="text" name="annual_management_fee_base" id="annual_management_fee_base_2"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">年检结果</label>
                        <div class="layui-input-block">
                            <input type="text" name="annual_inspection_result" id="annual_inspection_result_2"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">备案机构</label>
                        <div class="layui-input-block">
                            <input type="text" name="filing_agency" id="filing_agency_2" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备案时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="filing_time" id="filing_time_2" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备案结果</label>
                        <div class="layui-input-block">
                            <input type="text" name="filing_result" id="filing_result_2" class="layui-input">
                        </div>
                    </div>
                </div>


            </fieldset>

        </form>
    </div>

    <div class="layui-row" id="popUpdateTest" style="display:none;">
        <div class="layui-col-md10">
            <div class="layui-form" style="width: 800px">

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0;">
                    <legend>修改基金</legend>
                </fieldset>
                <label id="title_id" style="display:none"></label>

                <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                    {#                <div class="layui-form-item layui-form-label">#}
                    {#                    <p style="font-size: 20px">基本信息</p>#}
                    {#                </div>#}
                    <legend>基本信息</legend>
                    <div class="layui-form-item" style="margin-top: 30px">
                        <div class="layui-inline">
                            <label class="layui-form-label">基金简称</label>
                            <div class="layui-input-block">
                                <input id="fund_abbreviation" type="text" name="fund_abbreviation" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">基金全称</label>
                            <div class="layui-input-block" style="width: 463px;">
                                <input id="fundname" type="text" name="fundname" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">基金规模</label>
                            <div class="layui-input-block">
                                <input type="text" id="fundscope" name="fundscope" autocomplete="off"
                                       placeholder="￥      万"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">当前规模</label>
                            <div class="layui-input-block">
                                <input type="text" id="presentscope" name="presentscope" autocomplete="off"
                                       placeholder="￥      万"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">管理公司</label>
                            <div class="layui-input-block">
                                <input type="text" id="management_company" name="management_company"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">设立日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="builddate" id="builddate" autocomplete="on"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">投资期结束日</label>
                            <div class="layui-input-block">
                                <input type="text" name="investenddate" id="investenddate" autocomplete="on"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">经营到期日</label>
                            <div class="layui-input-block">
                                <input type="text" name="businessdate" id="businessdate" autocomplete="on"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">注册地址</label>
                            <div class="layui-input-block" style="width: 760px;">
                                <input type="text" name="address" id="address" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">关注行业</label>
                        <div class="layui-input-block">
                            {#                        <select name="event_association" lay-filter="aihao">#}
                            {#                            <option value=""></option>#}
                            {#                            {% for jijin in fund %}#}
                            {#                                <option value="{{ jijin.fund_id }}">{{ jijin.fund_name }}</option>#}
                            {#                            {% endfor %}#}
                            {#                        </select>#}
                            <input type="checkbox" name="industryfocus" title="医疗健康" checked>
                            <input type="checkbox" name="industryfocus" title="文化娱乐">
                            <input type="checkbox" name="industryfocus" title="节能环保">
                            <input type="checkbox" name="industryfocus" title="先进制造">
                            <input type="checkbox" name="industryfocus" title="农业">
                            <input type="checkbox" name="industryfocus" title="消费服务">
                            <input type="checkbox" name="industryfocus" title="信息技术及应用领域">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">关注阶段</label>
                            <div class="layui-input-block">
                                <select name="concernstage" lay-filter="aihao">
{#                                    <option value=""></option>#}
{#                                    <option value="早期">早期</option>#}
{#                                    <option value="成长期">成长期</option>#}
{#                                    <option value="成熟期">成熟期</option>#}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">基金简介</label>
                        <div class="layui-input-block">
                            <textarea name="fund_introduce" id="fund_introduce" style="display: none;"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">管理费</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="manage_money" class="layui-textarea"
                                      name="manage_money"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">收益分配</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="income_distribution" class="layui-textarea"
                                      name="income_distribution"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">门槛</label>
                        <div class="layui-input-block">
                        <textarea style="min-height: 50px" placeholder="请输入内容" class="layui-textarea" id="threshold_2"
                                  name="threshold"></textarea>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">
                    {#                <div class="layui-form-item layui-form-label">#}
                    {#                    <p style="font-size: 20px">基本信息</p>#}
                    {#                </div>#}
                    <legend>运营信息</legend>

                    <div class="layui-form-item" style="margin-top: 30px">
                        <label class="layui-form-label">托管行名称</label>
                        <div class="layui-input-block" style="width: 760px;">
                            <input type="text" id="hosting_bank_name" name="hosting_bank_name" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">户名</label>
                            <div class="layui-input-block">
                                <input type="text" id="account_name" name="account_name" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-inline">
                                <label class="layui-form-label">账号</label>
                                <div class="layui-input-block" style="width: 760px;">
                                    <input type="text" id="account_number" name="account_number" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">审计机构</label>
                        <div class="layui-input-block" style="width: 760px;">
                            <input type="text" id="audit_institution" name="audit_institution" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">律师事务所</label>
                        <div class="layui-input-block" style="width: 760px;">
                            <input type="text" id="law_office" name="law_office" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">目标规模</label>
                            <div class="layui-input-block">
                                <input type="text" name="target_size" placeholder="￥         亿" id="target_size"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 100px;padding-left: 0px;padding-right: 0px;">投资委批准金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="approved_by_the_Commission" placeholder="￥         亿"
                                       id="approved_by_the_Commission" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">承诺出资汇总</label>
                            <div class="layui-input-block">
                                <input type="text" name="commitment_funding_summary" placeholder="￥         万"
                                       id="commitment_funding_summary" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">规模汇总</label>
                            <div class="layui-input-block">
                                <input type="text" name="scale_summary" placeholder="￥         万" id="scale_summary"
                                       autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">累计投资金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="cumulative_investment_amount" placeholder="￥         万"
                                       id="cumulative_investment_amount" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">累计回收金额</label>
                            <div class="layui-input-block">
                                <input type="text" name="cumulative_recovery_amount" placeholder="￥         万"
                                       id="cumulative_recovery_amount" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">当前规模汇总</label>
                            <div class="layui-input-block">
                                <input type="text" name="current_size_summary" placeholder="￥         万"
                                       id="current_size_summary" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">当前承诺汇总</label>
                            <div class="layui-input-block">
                                <input type="text" name="current_commitment_summary" placeholder="￥         万"
                                       id="current_commitment_summary" autocomplete="on" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">母基金DPI</label>
                            <div class="layui-input-block">
                                <input type="text" name="parent_fund_DPI" id="parent_fund_DPI" autocomplete="on"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>

                </fieldset>

                <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">
                    {#                <div class="layui-form-item layui-form-label">#}
                    {#                    <p style="font-size: 20px">基本信息</p>#}
                    {#                </div>#}
                    <legend>其他信息</legend>

                    <div class="layui-form-item" style="margin-top: 30px">
                        <div class="layui-inline">
                            <label class="layui-form-label">年度管理费率</label>
                            <div class="layui-input-block">
                                <input type="text" name="annual_management_rate" placeholder="0         %"
                                       id="annual_management_rate" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width: 100px;padding-left: 0px;padding-right: 0px;">年度管理费基数</label>
                            <div class="layui-input-block">
                                <input type="text" name="annual_management_fee_base" id="annual_management_fee_base"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">年检结果</label>
                            <div class="layui-input-block">
                                <input type="text" name="annual_inspection_result" id="annual_inspection_result"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">备案机构</label>
                            <div class="layui-input-block">
                                <input type="text" name="filing_agency" id="filing_agency" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">备案时间</label>
                            <div class="layui-input-block">
                                <input type="text" name="filing_time" id="filing_time" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">备案结果</label>
                            <div class="layui-input-block">
                                <input type="text" name="filing_result" id="filing_result" class="layui-input">
                            </div>
                        </div>
                    </div>


                </fieldset>


                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-submit" lay-submit="" lay-filter="demo2"
                                onclick="mysubmit()">提交
                        </button>
                        <button class="layui-btn layui-btn-primary" lay-filter type="submit" action="cache">暂存</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}

{% block script %}

    <script type="text/html" id="barDemo">
        {#	 <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>#}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


    <script>
        layui.use(['table', "form", "laydate", "layedit"], function () {
            var table = layui.table
                , form = layui.form
                , layedit = layui.layedit
                , laydate = layui.laydate;
            {#var  popForm=layui.form;#}

             // 富文本编辑器
            var layedit = layui.layedit;
            var index = layedit.build("fund_introduce_2");
            {#this.sync(index);#}
            {#layedit.build("fund_introduce");#}

            //监听表格复选框选择
            table.on('checkbox(demo)', function (obj) {
                console.log(obj); //选中行的相关数据
            });
            //监听工具条
            table.on('tool(demo)', function (obj) {
                var data = obj.data;
                if (obj.event === 'detail') {
                    {#layer.msg('ID：'+ data.id + ' 的查看操作');#}
                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        {#title: "查看日程",#}
                        area: ['1030px', '500px'],
                        content: $("#viewData"),//引用的弹出层的页面层的方式加载修改界面表单
                        shade: 0,
                        success: function (x, y) {
                            for (var key in data) {
                                var idName = '#' + key + "_2";
                                $(idName).val(data[key]);
                            layedit.setContent(index, obj.data["fund_introduce"]);
                            
                            }

                        }

                    });
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        var fund_id = obj.data.fund_id;
                        {#alert(index)#}
                        $.ajax({
                            url: "/jijin/jijin/jijin_delete/",
                            type: "post",
                            async: false,
                            data: {'fund_id': fund_id},
                            dataType: "json",
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//防止乱码
                            success: function (data) {
                                if (data == '2') {
                                    {#alert('成功');#}
                                }
                            }

                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    var title_id = obj.data.title_id;
                    $.ajax({
                        url: "/jijin/event/event_fund/",
                        type: "POST",
                        dataType: "json",
                        async: true,
                        success: function (msg) {
                            {#参与人员#}
                            console.log(msg);
                            var value = '';
                            for (var i = 0; i < msg.length; i++) {
                                {#alert(msg[i].fund_name);#}
                                if (obj.data.fund_name == msg[i].fund_name) {
                                    value += "<option value='" + msg[i].fund_id + "' selected >" + msg[i].fund_name + "</option>";
                                } else {

                                    value += "<option value='" + msg[i].fund_id + "'>" + msg[i].fund_name + "</option>";

                                }

                            }
                            {#alert(value);#}
                            $("#fund_name").append(value);

                            {#类型选择#}
                            var typeList = ['任务', '事件', '大事记', '通知', '行业研究'];
                            {#var contactList_id = [0, 1, 2];#}
                            {#alert(JSON.stringify(obj.data))#}
                            var contantVal = '';
                            for (var i = 0; i < typeList.length; i++) {
                                {#alert(msg[i])#}
                                if (obj.data.event_type == typeList[i]) {
                                    contantVal += "<option value='" + typeList[i] + "' selected >" + typeList[i] + "</option>";
                                } else {
                                    contantVal += "<option value='" + typeList[i] + "'>" + typeList[i] + "</option>";

                                }

                            }
                            $("#event_type").append(contantVal);


                            {#状态选择#}
                            var remindList = ["代办", "完成"];

                            var remindVal = "";
                            for (var i = 0; i < remindList.length; i++) {
                                if (obj.data.event_status == remindList[i]) {
                                    remindVal += "<option value ='" + remindList[i] + "' selected >" + remindList[i] + "</option>";
                                } else {
                                    remindVal += "<option value ='" + remindList[i] + "'>" + remindList[i] + "</option>";
                                }
                            }
                            $("#event_status").append(remindVal);

                            {#表单渲染#}
                            form.render();

                        }
                    });

                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        {#title: "修改日程",#}
                        area: ['800px', '500px'],
                        content: $("#popUpdateTest"),//引用的弹出层的页面层的方式加载修改界面表单
                        shade: 0,
                        success: function (x, y) {

                            for (var key in data) {
                                var idName = '#' + key;
                                $(idName).val(data[key]);
                            }

                        }
                    });


                    //动态向表传递赋值可以参看文章进行修改界面的更新前数据的显示，当然也是异步请求的要数据的修改数据的获取
                    //getFormValue(obj, data);
                }


            });

            //日期
            laydate.render({
                elem: '#publish_date'
            });

            var $ = layui.$, active = {
                getCheckData: function () { //获取选中数据
                    var checkStatus = table.checkStatus('idTest')
                        , data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                }
                , getCheckLength: function () { //获取选中数目
                    var checkStatus = table.checkStatus('idTest')
                        , data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                }
                , isAll: function () { //验证是否全选
                    var checkStatus = table.checkStatus('idTest');
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });


        function mysubmit() {
            var title_id = $("#title_id").val();
            var event_name = $("#event_name").val();
            var event_association = $("#fund_name").val();
            var event_type = $("#event_type").val();
            var event_publisher = $('#event_publisher').val();
            var publish_date = $('#publish_date').val();
            var event_status = $('#event_status').val();
            var event_content = $('#event_content').val();

            keyword = ["title_id", "event_name", "event_association", "event_type", "event_publisher", "publish_date", "event_status", "event_content"];
            value = [title_id, event_name, event_association, event_type, event_publisher, publish_date, event_status, event_content];

            var dataSend = {};
            for (var i = 0; i < keyword.length; i++) {
                dataSend[keyword[i]] = value[i]
            }

            {#alert(JSON.stringify(dataSend));#}
            {#console.log(dataSend);#}
            {#dataSend = JSON.stringify(dataSend);#}
            $.ajax({
                url: "/jijin/event/event_edit/",
                type: "POST",
                async: true,
                dataType: "json",
                data: dataSend,
                success: function (data) {
                    {#alert('成功');#}
                    setTimeout(function () {
                        window.location.href = "/jijin/event/";
                    });
                    {#console.log(data)#}
                }
            })

        }


    </script>
{% endblock %}