{% extends "guquan/guquan_base.html" %}

{% block content %}
    <!-- <div style="overflow:scroll; width:1280px; height: 1200px;"> -->
    <div style="top: 100px;">

        <!-- 新增日程-->
        <form class="layui-form" method="post" action="">

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>项目概况</legend>
                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" name="fund_abbreviation" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">项目全称</label>
                        <div class="layui-input-block" style="width: 520px;">
                            <input type="text" name="fundname" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">投资基金</label>
                        <div class="layui-input-block">
                            <select name="">
                                <option value=""></option>
                                {% for i in jijin %}
                                    <option value="{{ i.fund_id }}">{{ i.fundname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">项目状态</label>
                        <div class="layui-input-block">
                            <select name="concernstage" lay-filter="aihao">
                                <option value=""></option>
                                <option value="审阅BP" selected>审阅BP</option>
                                <option value="初步接触">初步接触</option>
                                <option value="TS/DD">TS/DD</option>
                                <option value="过会投资">过会投资</option>
                                <option value="投资服务">投资服务</option>
                                <option value="项目结束">项目结束</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">产业划分</label>
                        <div class="layui-input-block">
                            <select name="concernstage" lay-filter="aihao">
                                <option value="">请选择</option>
                                <option value="科技产业">科技产业</option>
                                <option value="互联网产业">互联网产业</option>
                                <option value="医疗产业">医疗产业</option>
                            </select>
                        </div>
                    </div>


                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">投资流程</label>
                        <div class="layui-input-block">
                            <select name="concernstage" lay-filter="aihao">
                                <option value="审阅BP" selected>审阅BP</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" name="investenddate" id="date2" autocomplete="on" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">创建者</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" name="management_company" value="{{ request.session.user_name }}"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">执行者</label>
                        <div class="layui-input-block">
                            <select name="">
                                <option value=""></option>
                                {% for i in name %}
                                    <option value="{{ i.fund_id }}">{{ i.fundname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">项目来源</label>
                        <div class="layui-input-block">
                            <select name="">
                                <option value="">请选择</option>
                                <option value="自主开发">自主开发</option>
                                <option value="内部推荐">内部推荐</option>
                                <option value="FA推荐">FA推荐</option>
                                <option value="事业部或专营机构推荐">事业部或专营机构推荐</option>
                                <option value="非事业部机构推荐">非事业部机构推荐</option>
                                <option value="外部投资机构推荐">外部投资机构推荐</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">预计投资金额</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" name="hosting_bank_name" placeholder="￥             百万"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">行业</label>
                        <div class="layui-input-block">
                            <select name="event_association" lay-filter="aihao">
                                <option value="">请选择</option>
                                <option value="TMT&消费">TMT&消费</option>
                                <option value="医疗">医疗</option>
                                <option value="高端制造">高端制造</option>
                                <option value="新三板">新三板</option>
                                <option value="Fintech">Fintech</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">分组</label>
                        <div class="layui-input-block">
                            <select name="">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">优先级</label>
                        <div class="layui-input-block">
                            <select name="concernstage" lay-filter="aihao">
                                <option value="">请选择</option>
                                <option value="普通(P2)" selected>普通(P2)</option>
                                <option value="紧急(P1)">紧急(P1)</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                        <label class="layui-form-label">项目公开</label>
                        <div class="layui-input-block">
                            <input type="checkbox" checked="" value="1" name="is_public" lay-skin="switch"
                                   lay-filter="switchTest" title="开关">
                        </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block" id="tag_ids1">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">项目组成员</label>
                    <div class="layui-input-block" id="tag_ids2">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">附件(BP)</label>
                    <button type="button" class="layui-btn" id="file1">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">周例会汇报</label>
                    <button type="button" class="layui-btn" id="file2">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">周例会汇报</label>
                    <div class="layui-input-block">
                        <textarea name="fund_introduce" id="demo" style="display: none;"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend>联系人信息</legend>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn">
                        <i class="layui-icon">&#xe608;</i> 添加
                    </button>
                </div>

            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend>合作投资方信息</legend>
                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn">
                        <i class="layui-icon">&#xe608;</i> 添加
                    </button>
                </div>

            </fieldset>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo2">提交</button>
                    <button class="layui-btn layui-btn-primary" lay-filter type="submit" action="cache">暂存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            // 富文本编辑器
            layedit.build("demo");
            //日期
            laydate.render({
                elem: '#date1'
            });
            laydate.render({
                elem: '#date2'
            });
            laydate.render({
                elem: '#date3'
            });

            var tagData = [{"id": 12, "name": "长者", "status": 0}, {"id": 13, "name": "工厂"}, {"id": 14, "name": "小学生"}, {"id": 15, "name": "大学生"}, {"id": 16, "name": "研究生"}, {"id": 17, "name": "教师"}, {"id": 18, "name": "记者"}];



            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });

        });

    </script>
{% endblock %}