{% extends "guquan/guquan_base.html" %}

{% block content %}
    <div style="margin-bottom: 5px;">
        <ins class="adsbygoogle" style="display:inline-block;" data-ad-client="ca-pub-6111334333458862"
             data-ad-slot="3820120620">
        </ins>
    </div>

    <div class="layui-btn-group demoTable">
        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
    </div>

    <table class="layui-table" lay-data="{ url:'/jijin/guquan/list_handle/', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'id', width:100, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'project_name', width:150}">项目名称</th>
            <th lay-data="{field:'fundname', width:150}">投资基金</th>
            <th lay-data="{field:'project_industry', width:150, sort: true}">行业划分</th>
            <th lay-data="{field:'project_state', width:150, sort: true,}">项目状态</th>
            <th lay-data="{field:'creat_time', width:200}">创建时间</th>
            <th lay-data="{fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block script %}

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn  layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>
        layui.use(["table", "form", "laydate", "layedit"], function () {
            var table = layui.table
                , form = layui.form
                , layedit = layui.layedit
                , laydate = layui.laydate;

            table.on("checkbox(demo", function (obj) {
                console.log(obj);
            });

            table.on("tool(demo)", function (obj) {
                var data = obj.data;
            });

            var $ = layui.$, active = {
                getCheckData: function () {
                    var checkStatus = table.checkStatus("idTest")
                        , data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                }

                , getCheckLength: function () {
                    var checkStatus = table.checkStatus("idTest")
                        , data = checkStatus.data;
                    layer.msg("选中了：" + data.length + " 个");
                }

                , isAll: function () {
                    var checkStatus = table.checkStatus("idTest");
                    layer.msg(checkStatus.isAll ? "全选": "未全选")
                }
            };


        })
    </script>

{% endblock %}