{% extends "guquan/guquan_base.html" %}

{% block content %}
    <div style="margin-bottom: 5px;">
        <ins class="adsbygoogle" style="display:inline-block;" data-ad-client="ca-pub-6111334333458862"
             data-ad-slot="3820120620">
        </ins>
    </div>

    <div class="layui-btn-group demoTable">
{#        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>#}
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
    </div>

    <table class="layui-table" lay-data="{ url:'/jijin/guquan/list_handle/{{ type }}', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'id', width:100, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'project_name', width:150}">项目名称</th>
            <th lay-data="{field:'fundname', width:150}">投资基金</th>
            <th lay-data="{field:'project_industry', width:150, sort: true}">行业划分</th>
            <th lay-data="{field:'project_state', width:150, sort: true,}">项目状态</th>
            <th lay-data="{field:'creat_time', width:200}">创建时间</th>
            <th lay-data="{fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block mask %}
    <div class="layui-row" id="viewData" style="display: none;">
        <form class="layui-form" method="post" action="">

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>项目概况</legend>
                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block">
                            <input type="text" id="project_2" name="project" autocomplete="off" class="layui-input"
                                   readonly>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">项目全称</label>
                        <div class="layui-input-block" style="width: 465px;">
                            <input type="text" id="project_name_2" name="project_name" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">投资基金</label>
                        <div class="layui-input-block">
                            <input id="fundname_2" type="text" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">项目状态</label>
                        <div class="layui-input-block">
                            <input id="project_state_2" type="text" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">产业划分</label>
                        <div class="layui-input-block">
                            <input id="project_industry_2" type="text" class="layui-input">
                        </div>
                    </div>


                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">投资流程</label>
                        <div class="layui-input-block">
                            <input id="project_process_2" type="text" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="creat_time" id="creat_time_2" autocomplete="on"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">创建者</label>
                        <div class="layui-input-block">
                            <input type="text" id="creator_2" name="creator" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">执行者</label>
                        <div class="layui-input-block">

                            <input id="name_2" type="text" class="layui-input">

                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">项目来源</label>
                        <div class="layui-input-block">
                            <input id="project_source_2" class="layui-input" type="text">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">预计投资金额</label>
                        <div class="layui-input-block">
                            <input type="text" id="invest_money_2" name="invest_money" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">行业</label>
                        <div class="layui-input-block">
                            <input id="industry_2" type="text" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">分组</label>
                        <div class="layui-input-block">
                            <input id="grouping_2" type="text" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">优先级</label>
                        <div class="layui-input-block">
                            <input id="priority_2" type="text" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">项目公开</label>
                    <div class="layui-input-block" id="test1">
                        <input type="checkbox" name="is_public_2" lay-skin="switch">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>

                    <div class="layui-input-block" id="label_2" name="label_2">

                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">项目组成员</label>
                    {#                    <div class="layui-input-block">#}
                    {#                        <input id="project_member_2" type="text" class="layui-input">#}
                    {#                    </div>#}
                    <div class="layui-input-block" id="project_member_2" name="project_member_2">

                    </div>
                </div>

                {#                <div class="layui-form-item">#}
                {#                    <label class="layui-form-label">附件(BP)</label>#}
                {#                    <button type="button" class="layui-btn" id="file1">#}
                {#                        <i class="layui-icon">&#xe67c;</i>上传文件#}
                {#                    </button>#}
                {#                    <input type="hidden" id="BP_file_url" name="BP_file" value=""/>#}
                {#                    <div class="layui-upload-list">#}
                {#                        <p id="demoText"></p>#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="layui-form-item">#}
                {#                    <label class="layui-form-label">周例会汇报</label>#}
                {#                    <button type="button" class="layui-btn" id="file2">#}
                {#                        <i class="layui-icon">&#xe67c;</i>上传文件#}
                {#                    </button>#}
                {#                    <input type="hidden" id="weekly_file_url" name="weekly_file" value=""/>#}
                {#                    <div class="layui-upload-list">#}
                {#                        <p id="demoText_2"></p>#}
                {#                    </div>#}
                {#                </div>#}

                <div class="layui-form-item">
                    <label class="layui-form-label">公司概况</label>
                    <div class="layui-input-block">
                        <textarea name="abstract" id="abstract_2" style="display: none;"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend style="margin-top: 30px;margin-bottom: 20px;">联系人信息</legend>
                {#                <div class="layui-form-item">#}
                {#                    <label class="layui-form-label"></label>#}
                {#                    <button class="layui-btn" type="button">#}
                {#                        <i class="layui-icon">&#xe608;</i> 添加#}
                {#                    </button>#}
                {#                </div>#}

            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend style="margin-top: 30px;margin-bottom: 20px;">合作投资方信息</legend>
                {#                <div class="layui-form-item">#}
                {#                    <label class="layui-form-label"></label>#}
                {#                    <button class="layui-btn" type="button">#}
                {#                        <i class="layui-icon">&#xe608;</i> 添加#}
                {#                    </button>#}
                {#                </div>#}

            </fieldset>

        </form>

    </div>

    <div class="layui-row" id="popUpdateTest" style="display: none;">
        <form class="layui-form" method="post" action="">

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>修改项目</legend>
                <label id="id" style="display: none;"></label>
                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" id="project" name="project" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">项目全称</label>
                        <div class="layui-input-block" style="width: 520px;">
                            <input type="text" id="project_name" name="project_name" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">投资基金</label>
                        <div class="layui-input-block">
                            <select id="jijin" name="jijin">
                                {#                                <option value=""></option>#}
                                {#                                {% for i in jijin %}#}
                                {#                                    <option value="{{ i.fund_id }}">{{ i.fund_abbreviation }}</option>#}
                                {#                                {% endfor %}#}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">项目状态</label>
                        <div class="layui-input-block">
                            <select id="project_state" name="project_state" lay-filter="aihao">
                                {#                                <option value=""></option>#}
                                {#                                <option value="审阅BP" selected>审阅BP</option>#}
                                {#                                <option value="初步接触">初步接触</option>#}
                                {#                                <option value="TS/DD">TS/DD</option>#}
                                {#                                <option value="过会投资">过会投资</option>#}
                                {#                                <option value="投资服务">投资服务</option>#}
                                {#                                <option value="项目结束">项目结束</option>#}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">产业划分</label>
                        <div class="layui-input-block">
                            <select id="project_industry" name="project_industry" lay-filter="aihao">
                                {#                                <option value="">请选择</option>#}
                                {#                                <option value="科技产业">科技产业</option>#}
                                {#                                <option value="互联网产业">互联网产业</option>#}
                                {#                                <option value="医疗产业">医疗产业</option>#}
                            </select>
                        </div>
                    </div>


                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">投资流程</label>
                        <div class="layui-input-block">
                            <select id="project_process" name="project_process" lay-filter="aihao">
                                <option value="审阅BP" selected>审阅BP</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">创建时间</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" name="creat_time" id="creat_time" autocomplete="on" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">创建者</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" id="creator" name="creator"
                                   class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">执行者</label>
                        <div class="layui-input-block">
                            <select id="executor" name="executor" lay-filter="executor">
                                {#                                <option value=""></option>#}
                                {#                                {% for i in person %}#}
                                {#                                    <option value="{{ i.person_id }}">{{ i.name }}</option>#}
                                {#                                {% endfor %}#}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">项目来源</label>
                        <div class="layui-input-block">
                            <select id="project_source" name="project_source">
                                {#                                <option value="">请选择</option>#}
                                {#                                <option value="自主开发">自主开发</option>#}
                                {#                                <option value="内部推荐">内部推荐</option>#}
                                {#                                <option value="FA推荐">FA推荐</option>#}
                                {#                                <option value="事业部或专营机构推荐">事业部或专营机构推荐</option>#}
                                {#                                <option value="非事业部机构推荐">非事业部机构推荐</option>#}
                                {#                                <option value="外部投资机构推荐">外部投资机构推荐</option>#}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">预计投资金额</label>
                        <div class="layui-input-block" style="width: 200px;">
                            <input type="text" id="invest_money" name="invest_money" placeholder="￥             百万"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">行业</label>
                        <div class="layui-input-block">
                            <select id="industry" name="industry" lay-filter="aihao">
                                {#                                <option value="">请选择</option>#}
                                {#                                <option value="TMT&消费">TMT&消费</option>#}
                                {#                                <option value="医疗">医疗</option>#}
                                {#                                <option value="高端制造">高端制造</option>#}
                                {#                                <option value="新三板">新三板</option>#}
                                {#                                <option value="Fintech">Fintech</option>#}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">分组</label>
                        <div class="layui-input-block">
                            <select id="grouping" name="grouping">
                                <option value="">请选择</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">优先级</label>
                        <div class="layui-input-block">
                            <select id="priority" name="priority" lay-filter="aihao">
                                {#                                <option value="">请选择</option>#}
                                {#                                <option value="普通(P2)" selected>普通(P2)</option>#}
                                {#                                <option value="紧急(P1)">紧急(P1)</option>#}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">项目公开</label>
                    <div class="layui-input-block" id="test2">
                        <input type="checkbox" checked="" id="is_public" name="is_public" lay-skin="switch"
                               lay-filter="switchTest" title="开关">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block" id="label" name="label">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">项目组成员</label>
                    <div class="layui-input-block" id="project_member" name="project_member">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">附件(BP)</label>
                    <button type="button" class="layui-btn" id="file1">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                    <input type="hidden" id="BP_file" name="BP_file" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText"></p>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">周例会汇报</label>
                    <button type="button" class="layui-btn" id="file2">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                    <input type="hidden" id="weekly_file" name="weekly_file" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText_2"></p>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">公司概况</label>
                    <div class="layui-input-block">
                        <textarea name="abstract" id="abstract" style="display: none;"></textarea>
                    </div>
                </div>
            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend style="margin-top: 30px;margin-bottom: 20px;">联系人信息</legend>
                {#                <div class="layui-form-item">#}
                {#                    <label class="layui-form-label"></label>#}
                {#                    <button class="layui-btn" type="button">#}
                {#                        <i class="layui-icon">&#xe608;</i> 添加#}
                {#                    </button>#}
                {#                </div>#}

            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend style="margin-top: 30px;margin-bottom: 20px;">合作投资方信息</legend>
                {#                <div class="layui-form-item">#}
                {#                    <label class="layui-form-label"></label>#}
                {#                    <button class="layui-btn" type="button">#}
                {#                        <i class="layui-icon">&#xe608;</i> 添加#}
                {#                    </button>#}
                {#                </div>#}

            </fieldset>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" onclick="mysubmit()">提交</button>
                    {#                    <button class="layui-btn layui-btn-primary" lay-filter type="submit" action="cache">暂存</button>#}
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn  layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <script>





        var label = [{"id": 1, "name": "电力"}, {"id": 2, "name": "热力"}, {"id": 3, "name": "燃气及水产"}, {
            "id": 4,
            "name": "供应业"
        }, {"id": 5, "name": "能源业"}, {"id": 6, "name": "应试教育"}, {"id": 7, "name": "新车汽车"}, {"id": 8, "name": "二手汽车"}, {"id": 9, "name": "手游"}, {"id": 10, "name": "电商"}, {"id": 11, "name": "视频"}, {"id": 12, "name": "旅游"}, {"id": 13, "name": "二次元"}, {"id": 14, "name": "互联网金融"}];

        function getPersonData() {

            $.ajax({
                url: "/jijin/guquan/guquan_person/",
                type: "POST",
                dataType: "json",
                async: false,
                success: function (msg) {
                    {#console.log(msg);#}
                    {#var PersonData = [];#}
                    {#for (var i = 0; i < msg.length; i++) {#}
                    {#    PersonData[PersonData.length] = msg[i]#}
                    {#;}#}
                    {#person = PersonData;#}
                    person = msg
                }
            });
            return person;
        }

        var person = getPersonData();

        function getJijinData() {

            $.ajax({
                url: "/jijin/guquan/guquan_jijin/",
                type: "POST",
                dataType: "json",
                async: false,
                success: function (msg) {
                    {#console.log(msg);#}
                    {#var PersonData = [];#}
                    {#for (var i = 0; i < msg.length; i++) {#}
                    {#    PersonData[PersonData.length] = msg[i]#}
                    {#;}#}
                    {#person = PersonData;#}
                    jijin = msg
                }
            });
            return jijin;
        }

        var jijinData = getJijinData();


        layui.config({
            base: "/static/"
        }).extend({
            selectM: "./layui/layui_extends/selectM"
        }).use(["table", "layer", "form", "jquery", "upload", "selectM", "laydate", "layedit"], function () {
            $ = layui.jquery;
            var table = layui.table
                , form = layui.form
                , layedit = layui.layedit
                , layer = layui.layer
                , laydate = layui.laydate
                , upload = layui.upload
                , selectM = layui.selectM;

            laydate.render({
                elem: "#creat_time"
            });


            {#var test ;#}
            {#function test_fun(){#}
            {#    test = 10#}
            {#; }#}
            {#console.log("thr first test is ", test);#}
            {#test_fun();#}
            {#console.log("thr end test is ", test);#}
            {##}
            {#            table.on("checkbox(demo)", function (obj) {#}
            {#                console.log(obj);#}
            {#            });#}

            table.on("tool(demo)", function (obj) {
                var data = obj.data;

                var labelData = data.label.split(",").map(Number);
                var projectMemberData = data.project_member.split(",").map(Number);

                if (obj.event === "detail") {

                    var content = "";
                    if (data.is_public === "on") {
                        content = ' <input id="is_public_2" type="checkbox" checked  name="open" lay-skin="switch" lay-filter="test5">'
                    } else {
                        content = ' <input id="is_public_2" type="checkbox" name="open" lay-skin="switch" lay-filter="test5">'
                    }
                    $("#test1").empty();
                    $("#test1").append(content);


                    var tagIns3 = selectM({
                        elem: "#label_2",
                        data: label,
                        delimiter: ",",
                        selected: labelData,
                        field: {idName: "id", titleName: "name"}
                    });


                    var tagIns4 = selectM({
                        elem: "#project_member_2",
                        data: person,
                        delimiter: ",",
                        selected: projectMemberData,
                        field: {idName: "person_id", titleName: "name"}
                    });

                    layer.open({
                        type: 1,
                        area: ["1030px", "500px"],
                        content: $("#viewData"),
                        shade: 0.3,
                        success: function () {
                            for (var key in data) {
                                var idName = "#" + key + "_2";
                                $(idName).val(data[key]);
                            }
                            var index = layedit.build("abstract_2");
                            layedit.setContent(index, obj.data["abstract"]);
                        }
                    });
                    form.render("checkbox");

                } else if (obj.event === "del") {
                    layer.confirm("真的删除行么", function (index) {
                        obj.del();
                        var guquan_id = obj.data.id;
                        $.ajax({
                            url: "/jijin/guquan/guquan_delete/",
                            type: "post",
                            async: false,
                            data: {"id": guquan_id},
                            dataType: "json",
                            success: function (data) {
                                if (data === "ok") {
                                    layer.msg("删除成功！")
                                }
                            }
                        })
                    })
                } else if (obj.event === "edit") {

                    {#是否公开#}
                    var content = "";
                    if (data.is_public === "on") {
                        content = ' <input id="is_public" type="checkbox" checked name="open" lay-skin="switch" lay-filter="switchTest">'
                    } else {
                        content = ' <input id="is_public" type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest">'
                    }
                    $("#test2").empty();
                    $("#test2").append(content);

                    var tagIns1 = selectM({
                        elem: "#label",
                        data: label,
                        delimiter: ",",
                        selected: labelData,
                        field: {idName: "id", titleName: "name"}
                    });

                    var tagIns2 = selectM({
                        elem: "#project_member",
                        data: person,
                        delimiter: ",",
                        selected: projectMemberData,
                        field: {idName: "person_id", titleName: "name"}
                    });


                    var value2 = "";
                    for (var i = 0; i < person.length; i++) {
                        if (obj.data.executor === person[i].person_id) {
                            value2 += "<option value='" + person[i].person_id + "' selected >" + person[i].name + "</option>";
                        } else {
                            value2 += "<option value='" + person[i].person_id + "' >" + person[i].name + "</option>";
                        }
                    }
                    {#alert(value);#}
                    $("#executor").empty();
                    $("#executor").append(value2);

                    var index = layedit.build("abstract");
                    layedit.setContent(index, obj.data["abstract"]);

                    var value3 = "";
                    for (var i = 0; i < jijinData.length; i++) {
                        if (obj.data.jijin === jijinData[i].fund_id) {
                            value3 += "<option value='" + jijinData[i].fund_id + "' selected >" + jijinData[i].fundname + "</option>";
                        } else {
                            value3 += "<option value='" + jijinData[i].fund_id + "' >" + jijinData[i].fundname + "</option>";
                        }
                    }
                    $("#jijin").empty();
                    $("#jijin").append(value3);

                    var project_state = ["审阅BP", "初步接触", "TS/DD", "过会投资", "投资服务", "项目结束"];
                    var project_industry = ["科技产业", "互联网产业", "医疗产业"];
                    var project_source = ["自主开发", "内部推荐", "FA推荐", "事业部或专营机构推荐", "非事业部机构推荐", "外部投资机构推荐"];
                    var industry = ["TMT&消费", "医疗", "高端制造", "新三板", "Fintech"];
                    var priority = ["普通(P2)", "紧急(P1)"];

                    var list = [id, project_state, project_industry, project_source, industry, priority];
                    var list_name = [obj.data.id, obj.data.project_state, obj.data.project_industry, obj.data.project_source, obj.data.industry, obj.data.priority];
                    var list_Cast = ['id', 'project_state', 'project_industry', 'project_source', 'industry', 'priority'];

                    for (var li in list) {
                        var value = "";
                        for (var ei in list[li]) {
                            {#alert(list_name[li]);#}
                            if (list_name[li] === list[li][ei]) {
                                value += "<option value='" + list[li][ei] + "' selected >" + list[li][ei] + "</option>";
                            } else {
                                value += "<option value='" + list[li][ei] + "'>" + list[li][ei] + "</option>";
                            }
                        }
                        {#alert(value);#}
                        var idCast = "#" + list_Cast[li];
                        {#alert(idCast);#}
                        $(idCast).empty();
                        $(idCast).append(value);
                    }

                    form.render();


                    layer.open({
                        type: 1,
                        area: ["1030px", "500px"],
                        content: $("#popUpdateTest"),
                        shade: 0.3,
                        success: function () {
                            for (var key in data) {
                                var idName = "#" + key;
                                $(idName).val(data[key]);
                            }
                        }
                    })

                }
            });

            {#console.log(labelData);#}
            {#console.log(projectMemberData);#}

            var $ = layui.$, active = {
                getCheckData: function () {
                    var checkStatus = table.checkStatus("idTest")
                        , data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                }

                , getCheckLength: function () {
                    var checkStatus = table.checkStatus("idTest")
                        , data = checkStatus.data;
                    layer.msg("选中了：" + data.length + " 个");
                }

                , isAll: function () {
                    var checkStatus = table.checkStatus("idTest");
                    layer.msg(checkStatus.isAll ? "全选" : "未全选")
                }
            };


            var uploadInst = upload.render({
                elem: "#file1",
                url: "/jijin/guquan_file/",
                accept: "file",
                done: function (res) {
                    if (res.code > 0) {
                        return layer.msg("上传失败！");
                    }
                    layer.msg("上传成功");
                    document.getElementById("BP_file").value = res.url;
                }
                , error: function () {
                    var demoText = $("#demoText");
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find(".demo-reload").on("click", function () {
                        uploadInst.upload();
                    });
                }
            });

            var uploadInst_2 = upload.render({
                elem: "#file2",
                url: "/jijin/guquan_file/",
                done: function (res) {
                    if (res.code > 0) {
                        return layer.msg("上传失败！");
                    }
                    layer.msg("上传成功");
                    document.getElementById("weekly_file").value = res.url;
                }
                , error: function () {
                    var demoText = $("#demoText_2");
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find(".demo-reload").on("click", function () {
                        uploadInst_2.upload();
                    });
                }
            });

        });


        function mysubmit() {
            var list = ["id", "project", "project_name", "jijin", "project_status", "project_industry", "project_process",
                "creat_time", "creator", "executor", "project_source", "invest_money", "industry", "grouping", "priority",
                "is_public", "label", "project_member", "BP_file", "weekly_file", "abstract"];
            var value = [];
            for (var li in list) {
                li = $("#" + list[li]).val();
                {#alert(li);#}
                value.push(li);
            }
            {#alert(value);#}
            var dataSend = {};
            for (var i = 0; i < list.length; i++) {
                dataSend[list[i]] = value[i]
            }
            {#alert(JSON.stringify(dataSend));#}
            console.log(dataSend);

            $.ajax({
                url: "/jijin/guquan/guquan_edit/",
                type: "POST",
                async: false,
                dataType: "json",
                data: dataSend,
                success: function (data) {
                    if (data === "ok") {
                        layer.msg("修改成功")
                    } else {
                        layer.msg("修改失败")
                    }
                    setTimeout(function () {
                        window.location.href = "/jijin/guquan/";
                    });
                    {#console.log(data)#}
                }
            })


        }
    </script>

{% endblock %}