{% extends "calender_base.html" %}



{% block head_2 %}
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% endblock %}


{% block content %}
    <div style="margin-bottom: 5px;">
        <ins class="adsbygoogle" style="display:inline-block;" data-ad-client="ca-pub-6111334333458862"
             data-ad-slot="3820120620">
        </ins>
    </div>

    <div class="layui-btn-group demoTable">
{#        <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>#}
        <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
        <button class="layui-btn" data-type="isAll">验证是否全选</button>
    </div>

    <table class="layui-table" lay-data="{ url:'/jijin/calender/list_handle/', page:true, id:'idTest'}"
           lay-filter="demo">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
            <th lay-data="{field:'schedule_id', width:100, sort: true, fixed: true}">ID</th>
            <th lay-data="{field:'schedule_name', width:100, edit:'text'}">日程名</th>
            <th lay-data="{field:'person_name', width:120, sort: true,edit:'text'}">参与人员</th>
            <th lay-data="{field:'association_name', width:120, edit:'text'}">关联</th>
            <th lay-data="{field:'start_time', width:200}">开始时间</th>
            <th lay-data="{field:'end_time', width:200, sort: true}">结束时间</th>
            <th lay-data="{fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}"></th>
        </tr>
        </thead>
    </table>

    {#    <table class="layui-hide" id="test"></table>#}

{% endblock %}

{% block mask %}
    <div class="layui-row" id="popUpdateTest" style="display:none;">
        <div class="layui-col-md10">
            <div class="layui-form" style="width: 800px">

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0;">
                    <legend>修改日程</legend>
                </fieldset>
                <label id="schedule_id" style="display:none"></label>
                <div class="layui-form-item">
                    <label class="layui-form-label">日程名</label>
                    <div class="layui-input-block">
                        <input id="schedule_name" type="text" name="title" autocomplete="off" placeholder="请输入日程名"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">参与人员</label>
                    <div class="layui-input-inline" id="person_id">
                        <select id="person_name" name="participants" lay-filter="participant">
                            {#                            <option value=""></option>#}
                            {#                            <option value="0" selected>陈桥</option>#}
                            {#                            <option value="1">徐菲菲</option>#}
                            {#                            <option value="2">赵云澜</option>#}
                            {#                            <option value="3">沈巍</option>#}
                            {#                            <option value="4">Nancy</option>#}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" style="width: 850px">
                    <div class="layui-inline">
                        <label class="layui-form-label">关联</label>
                        <div class="layui-input-block">
                            <select id="association_name" name="interest1">
                                {#                                <option value="" selected=""></option>#}
                                {#                                <option value="0">股权直投</option>#}
                                {#                                <option value="1">二级市场</option>#}
                                {#                                <option value="2">地产</option>#}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">对方参与</label>
                        <div class="layui-input-inline">
                            <input id="participation" type="text" name="participation"
                                   placeholder="请输入"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">公开</label>
                        <div class="layui-input-block" id="test3">
                            <input id="is_public" type="checkbox" checked="" name="open" lay-skin="switch"
                                   lay-filter="switchTest">
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">地点</label>
                    <div class="layui-input-block">
                        <input id="address" type="text" name="address" autocomplete="off" placeholder="请输入地点"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">全天事件</label>
                        <div class="layui-input-block" id="test4">
                            <input id="is_all_day_event" type="checkbox" name="open2" lay-skin="switch"
                                   lay-filter="switchTest"
                                   title="开关">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="date1" id="start_time" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="date2" id="end_time" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">重复</label>
                    <div class="layui-input-inline">
                        <select id="time_select" name="interest2" lay-filter="aihao">
                            {#                            <option value=""></option>#}
                            {#                            <option value="0">不重复</option>#}
                            {#                            <option value="1">每日</option>#}
                            {#                            <option value="2">每周</option>#}
                            {#                            <option value="3">每月</option>#}
                            {#                            <option value="4">每年</option>#}
                        </select>
                    </div>
                    <label class="layui-form-label">提醒</label>
                    <div class="layui-input-inline">
                        <select id="remind_name" name="interest3" lay-filter="aihao">
                            {#                            <option value=""></option>#}
                            {#                            <option value="0">不提醒</option>#}
                            {#                            <option value="1">提前一小时</option>#}
                            {#                            <option value="2">提前一天</option>#}
                            {#                            <option value="3">提前一周</option>#}
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">直到</label>
                        <div class="layui-input-inline">
                            <input type="text" name="date" id="util_time" lay-verify="date" placeholder="yyyy-MM-dd"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">会议摘要</label>
                    <div class="layui-input-block">
                        <textarea id="meeting_summary" placeholder="请输入内容" class="layui-textarea"
                                  name="abstract"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        {#                        <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>上传文件</button>#}
                        <button class="layui-btn layui-btn-submit" lay-submit="" lay-filter="demo2"
                                onclick="mysubmit()">提交
                        </button>
                        {#                        <button class="layui-btn layui-btn-primary" lay-filter type="submit" action="cache">暂存</button>#}
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="layui-row" id="viewData" style="display:none;">
        <div class="layui-col-md10">
            <form class="layui-form" method="post" action="" style="width: 800px">

                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 0;">
                    <legend>查看日程</legend>
                </fieldset>

                <div class="layui-form-item">
                    <label class="layui-form-label">日程名</label>
                    <div class="layui-input-block">
                        <input id="schedule_name_2" type="text" name="title" autocomplete="off" placeholder="请输入日程名"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">参与人员</label>
                    <div class="layui-input-inline">
                        <input id="person_name_2" type="text" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">关联</label>
                        <div class="layui-input-block">
                            <input id="association_name_2" type="text" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">对方参与</label>
                        <div class="layui-input-inline">
                            <input id="participation_2" type="text" name="participation" lay-verify="required"
                                   placeholder="请输入"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">公开</label>
                        <div class="layui-input-block" id="test1">
                            <input id="is_public_2" type="checkbox" checked="" name="open" lay-skin="switch"
                                   lay-filter="switchTest">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">地点</label>
                    <div class="layui-input-block">
                        <input id="address_2" type="text" name="address" autocomplete="off" placeholder="请输入地点"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">全天事件</label>
                        <div class="layui-input-block" id="test2">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="date1" id="start_time_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-block">
                            <input type="text" name="date2" id="end_time_2" autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">重复</label>
                    <div class="layui-input-inline">
                        <input id="time_select_2" type="text" class="layui-input">
                    </div>
                    <label class="layui-form-label">提醒</label>
                    <div class="layui-input-inline">
                        <input id="remind_name_2" type="text" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">直到</label>
                        <div class="layui-input-inline">
                            <input type="text" name="date" id="util_time_2" lay-verify="date" placeholder="yyyy-MM-dd"
                                   autocomplete="on" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">会议摘要</label>
                    <div class="layui-input-block">
                        <textarea id="meeting_summary_2" placeholder="请输入内容" class="layui-textarea"
                                  name="abstract"></textarea>
                    </div>
                </div>


            </form>

        </div>
    </div>
{% endblock %}


{% block script %}
    <script type="text/html" id="barDemo">
        {#	 <a class="layui-btn layui-btn-xs" lay-event="add">添加</a>#}
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>

        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>


    <script>

        function getCalenderData() {
            $.ajax({
                url: "/jijin/calender/calender_user/",
                type: "POST",
                dataType: "json",
                async: false,
                success: function (msg) {
                    CalenderData = msg
                }
            });
            return CalenderData;
        }

        var CalenderData = getCalenderData();


        layui.use(['table', "form", "laydate", "laypage"], function () {
            var table = layui.table
                , form = layui.form
                , laypage = layui.laypage
                , laydate = layui.laydate;

            //监听表格复选框选择
            table.on('checkbox(demo)', function (obj) {
                console.log(obj); //选中行的相关数据
            });

            {#分页#}
            {#table.render({#}
            {#    elem: '#test'#}
            {#    , url: '/jijin/calender/list_handle/'#}
            {#    , cols: [[#}
            {#        {field:'schedule_id', width:100, sort: true, fixed: true}#}
            {#        , {field:'schedule_name', width:100, edit:'text'}#}
            {#        , {field:'person_name', width:120, sort: true,edit:'text'}#}
            {#        , {field:'association_name', width:120, edit:'text'}#}
            {#        , {field:'start_time', width:200}#}
            {#        , {field:'end_time', width:200, sort: true}#}
            {#        , {fixed: 'right', width:180, align:'center', toolbar: '#barDemo'}#}
            {#        #}
            {#    ]]#}
            {#    , page: true#}
            {#,});#}

            //监听工具条
            table.on('tool(demo)', function (obj) {

                var data = obj.data;
                if (obj.event === 'detail') {
                    {#layer.msg('ID：'+ data.id + ' 的查看操作');#}
                    var content = "";
                    if (data.is_public === "on") {
                        content = ' <input id="is_public_2" type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest">'
                    } else {
                        content = ' <input id="is_public_2" type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest">'
                    }
                    $("#test1").empty();
                    $("#test1").append(content);

                    var eventContent = "";
                    if (data.is_all_day_event === "on") {
                        eventContent = '<input id="is_all_day_event_2" type="checkbox" checked="" name="open2" lay-skin="switch" lay-filter="switchTest">'
                        ;
                    } else {
                        eventContent = '<input id="is_all_day_event_2" type="checkbox"  name="open2" lay-skin="switch" lay-filter="switchTest">'
                        ;
                    }
                    $("#test2").empty();
                    $("#test2").append(eventContent);

                    form.render();

                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        {#title: "查看日程",#}
                        area: ['1030px', '500px'],
                        content: $("#viewData"),//引用的弹出层的页面层的方式加载修改界面表单
                        shade: 0.3,
                        success: function (x, y) {

                            for (var key in data) {
                                var idName = '#' + key + "_2";
                                $(idName).val(data[key]);

                            }

                        }
                    });
                } else if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        obj.del();
                        var schedule_id = obj.data.schedule_id;
                        {#alert(index)#}
                        $.ajax({
                            url: "/jijin/calender/calender_delete/",
                            type: "post",
                            async: false,
                            data: {'schedule_id': schedule_id},
                            dataType: "json",
                            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',//防止乱码
                            success: function (data) {
                                if (data == 'ok') {
                                    layer.msg("删除成功！")
                                }
                            }

                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'edit') {
                    var schedule_id = obj.data.schedule_id;

                    var value = '';
                    for (var i = 0; i < CalenderData.length; i++) {
                        {#alert(msg[i])#}
                        if (obj.data.person_name == CalenderData[i].person_name) {
                            value += "<option value='" + CalenderData[i].person_id + "' selected >" + CalenderData[i].person_name + "</option>";
                        } else {
                            value += "<option value='" + CalenderData[i].person_id + "'>" + CalenderData[i].person_name + "</option>";

                        }

                    }
                    {#alert(value);#}
                    $("#person_name").empty();
                    $("#person_name").append(value);

                    {#关联选择#}
                    var contactList = ['股权直投', '二级市场', '地产'];
                    var contactList_id = [0, 1, 2];
                    {#alert(JSON.stringify(obj.data))#}
                    var contantVal = '';
                    for (var i = 0; i < contactList.length; i++) {
                        {#alert(msg[i])#}
                        if (obj.data.association_name == contactList[i]) {
                            contantVal += "<option value='" + contactList_id[i] + "' selected >" + contactList[i] + "</option>";
                        } else {
                            contantVal += "<option value='" + contactList_id[i] + "'>" + contactList[i] + "</option>";

                        }

                    }
                    $("#association_name").empty();
                    $("#association_name").append(contantVal);

                    {#重复选择#}
                    var repeatList = ["不重复", "每日", "每周", "每月", "每年"];
                    var repeatList_id = [0, 1, 2, 3, 4];
                    var repeatVal = "";
                    for (var i = 0; i < repeatList.length; i++) {
                        if (obj.data.time_select == repeatList[i]) {
                            repeatVal += "<option value ='" + repeatList_id[i] + "' selected >" + repeatList[i] + "</option>";
                        } else {
                            repeatVal += "<option value ='" + repeatList_id[i] + "'>" + repeatList[i] + "</option>";
                        }
                    }
                    $("#time_select").empty();
                    $("#time_select").append(repeatVal);

                    {#提醒选择#}
                    var remindList = ["不提醒", "提前一小时", "提前一天", "提前一周"];
                    var remindList_id = [0, 1, 2, 3];

                    var remindVal = "";
                    for (var i = 0; i < remindList.length; i++) {
                        if (obj.data.remind_name == remindList[i]) {
                            remindVal += "<option value ='" + remindList_id[i] + "' selected >" + remindList[i] + "</option>";
                        } else {
                            remindVal += "<option value ='" + remindList_id[i] + "'>" + remindList[i] + "</option>";
                        }
                    }
                    $("#remind_name").empty();
                    $("#remind_name").append(remindVal);

                    {#是否公开#}
                    var content = "";
                    if (data.is_public === "on") {
                        content = ' <input id="is_public" type="checkbox" checked="" name="open" lay-skin="switch" lay-filter="switchTest">'
                    } else {
                        content = ' <input id="is_public" type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest">'
                    }
                    $("#test3").empty();
                    $("#test3").append(content);

                    var eventContent = "";
                    if (data.is_all_day_event === "on") {
                        eventContent = '<input id="is_all_day_event" type="checkbox" checked="" name="open2" lay-skin="switch" lay-filter="switchTest">'
                        ;
                    } else {
                        eventContent = '<input id="is_all_day_event" type="checkbox"  name="open2" lay-skin="switch" lay-filter="switchTest">'
                        ;
                    }
                    $("#test4").empty();
                    $("#test4").append(eventContent);

                    {#表单渲染#}
                    form.render();

                    layer.open({
                        //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                        type: 1,
                        {#title: "修改日程",#}
                        area: ['1030px', '500px'],
                        content: $("#popUpdateTest"),//引用的弹出层的页面层的方式加载修改界面表单
                        shade: 0.3,
                        success: function (x, y) {
                            for (var key in data) {
                                var idName = '#' + key;
                                $(idName).val(data[key]);
                            }
                        }
                    });
                }


            });


            //日期
            laydate.render({
                elem: '#start_time'
            });
            laydate.render({
                elem: '#end_time'
            });
            laydate.render({
                elem: '#util_time'
            });
            laydate.render({
                elem: '#start_time_2'
                ,
            });
            laydate.render({
                elem: '#end_time_2'
            });
            laydate.render({
                elem: '#util_time_2'
            });

            var $ = layui.$, active = {
                getCheckData: function () { //获取选中数据
                    var checkStatus = table.checkStatus('idTest')
                        , data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                }
                , getCheckLength: function () { //获取选中数目
                    var checkStatus = table.checkStatus('idTest')
                        , data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                }
                , isAll: function () { //验证是否全选
                    var checkStatus = table.checkStatus('idTest');
                    layer.msg(checkStatus.isAll ? '全选' : '未全选')
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });


        function mysubmit() {
            var schedule_id = $("#schedule_id").val();
            var schedule_name = $("#schedule_name").val();
            var person_id = $("#person_name").val();
            var association_id = $('#association_name').val();
            var participation = $('#participation').val();
            {#var is_public = $('#is_public').val(this.checked ? 1 : 0);#}
            var is_public = $('#is_public').val();
            var address = $('#address').val();
            {#var is_all_day_event = $('#is_all_day_event').val(this.checked ? 1 : 0);#}
            var is_all_day_event = $('#is_all_day_event').val();
            var start_time = $('#start_time').val();
            var end_time = $('#end_time').val();
            var util_time = $('#util_time').val();
            var remind_id = $('#remind_name').val();
            var time_id = $('#time_select').val();
            var meeting_summary = $('#meeting_summary').val();


            keyword = ["schedule_id", "schedule_name", "person_id", "association_id", "start_time", "end_time", "participation", "is_public", "address", "is_all_day_event", "remind_id", "time_id", "meeting_summary", "util_time"];
            value = [schedule_id, schedule_name, person_id, association_id, start_time, end_time, participation, is_public, address, is_all_day_event, remind_id, time_id, meeting_summary, util_time];

            var dataSend = {};
            for (var i = 0; i < keyword.length; i++) {
                dataSend[keyword[i]] = value[i]
            }

            {#alert(JSON.stringify(dataSend));#}
            {#console.log(dataSend);#}
            {#dataSend = JSON.stringify(dataSend);#}
            $.ajax({
                url: "/jijin/calender/calender_edit/",
                type: "POST",
                async: false,
                dataType: "json",
                data: dataSend,
                success: function (data) {
                    {#alert('成功');#}
                    if (data === "ok") {
                        layer.msg("修改成功")
                    } else {
                        layer.msg("修改失败")
                    }
                    setTimeout(function () {
                        window.location.href = "/jijin/calender/list/";
                    });
                    {#console.log(data)#}
                }
            })

        }


    </script>
{% endblock %}
 

