{% extends "base.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/documentation.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/jalendar.css" type="text/css"/>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script><!--jQuery-->
    <script type="text/javascript" src="/static/js/jalendar.js"></script>
    <!-- 搜索框 -->
    <link rel="stylesheet" type="text/css" href="/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/demo.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>

    {# 增加 head #}
    {% block head_2 %}
    {% endblock %}
{% endblock %}


{% block left %}
    <ul class="layui-nav layui-layout-left">


        {% if tab_nav == "" %}
            <li class="layui-nav-item layui-this"><a href="/jijin/calender">日程</a></li>
        {% else %}
            <li class="layui-nav-item"><a href="/jijin/calender">日程</a></li>
        {% endif %}

        {% if tab_nav == "show" %}
            <li class="layui-nav-item layui-this"><a href="/jijin/calender/list/">查询</a></li>
        {% else %}
            <li class="layui-nav-item "><a href="/jijin/calender/list/">查询</a></li>
        {% endif %}

        {% if tab_nav == "add" %}
            <li class="layui-nav-item layui-this"><a href="/jijin/calender/add/">新增</a></li>
        {% else %}
            <li class="layui-nav-item"><a href="/jijin/calender/add/">新增</a></li>
        {% endif %}


    </ul>
{% endblock %}