{% extends "industry/industry_base.html" %}

{% block content %}

    <div style="top: 100px;">

        <!-- 新增日程-->
        <form class="layui-form" method="post" action="">

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
                {#                <div class="layui-form-item layui-form-label">#}
                {#                    <p style="font-size: 20px">基本信息</p>#}
                {#                </div>#}
                <legend>行业研究信息</legend>

                <div class="layui-form-item" style="margin-top: 30px">
                    <div class="layui-inline">
                        <label class="layui-form-label">项目名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="industry_research_name" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">项目状态</label>
                        <div class="layui-input-block">
                            <select name="industry_research_state" >
                                <option value=""></option>
                                <option value="审阅BP" selected>审阅BP</option>
                                <option value="初步接触">初步接触</option>
                                <option value="TS/DD">TS/DD</option>
                                <option value="过会投资">过会投资</option>
                                <option value="投资服务">投资服务</option>
                                <option value="项目结束">项目结束</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-block">
                            <input type="text" id="publish_time"  name="publish_time" class="layui-input">
                        </div>
                    </div>

                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">创建者</label>
                        <div class="layui-input-block">
                            <input type="text" value="{{ request.session.user_name }}" readonly  name="create_creater" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">执行者</label>
                        <div class="layui-input-block">
                            <select name="person_id">
                                <option value="">请选择</option>
                                {% for i in person %}
                                    <option value="{{ i.person_id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">行业</label>
                        <div class="layui-input-block">
                            <select name="industry" lay-filter="aihao">
                                <option value="">请选择</option>
                                <option value="TMT&消费">TMT&消费</option>
                                <option value="医疗">医疗</option>
                                <option value="高端制造">高端制造</option>
                                <option value="新三板">新三板</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">标签</label>
                    <div class="layui-input-block" id="project_label" name="project_label">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">项目组成员</label>
                    <div class="layui-input-block" id="project_member" name="project_member">

                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">纲要</label>
                    <div class="layui-input-block">
                        <textarea name="abstract" id="demo" style="display: none;"></textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">后续跟进情况</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="situation"></textarea>
                    </div>
                </div>

            </fieldset>

            <fieldset class="layui-elem-field site-demo-button" style="margin-top: 30px;margin-bottom: 20px;">

                <legend>研究报告</legend>

                <div class="layui-form-item" style="margin-top: 20px;">
                    <label class="layui-form-label">研究报告</label>
                    <button type="button" class="layui-btn" id="file1">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                    <input type="hidden" id="research_file_url" name="research_file" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText"></p>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">参考资料</label>
                    <button type="button" class="layui-btn" id="file2">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                    <input type="hidden" id="reference_file_url" name="reference_file" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText_2"></p>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">测试文档</label>
                    <button type="button" class="layui-btn" id="file3">
                        <i class="layui-icon">&#xe67c;</i>上传文件
                    </button>
                    <input type="hidden" id="test_file_url" name="test_file" value=""/>
                    <div class="layui-upload-list">
                        <p id="demoText_3"></p>
                    </div>
                </div>

            </fieldset>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
                    {#                    <button class="layui-btn layui-btn-primary" lay-filter type="submit" action="cache">暂存</button>#}
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>

{% endblock %}

{% block script %}
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            // 富文本编辑器
            layedit.build("demo");

            laydate.render({
                elem: "#publish_time",
                type: "datetime"
            });

            {#alert(JSON.stringify(person));#}

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });


            //监听提交
            form.on('submit(2)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                });
                return false;
            });

        });

        function getPersonData() {

            $.ajax({
                url: "/jijin/guquan/guquan_person/",
                type: "POST",
                dataType: "json",
                async: false,
                success: function (msg) {
                    console.log(msg);
                    {#var PersonData = [];#}
                    {#for (var i = 0; i < msg.length; i++) {#}
                    {#    PersonData[PersonData.length] = msg[i]#}
                    {#;}#}
                    {#person = PersonData;#}
                    person = msg
                }
            });
            return person;
        }
        var person = getPersonData();

        var labelData = [{"id": 1, "name": "电力"}, {"id": 2, "name": "热力"}, {"id": 3, "name": "燃气及水产"}, {
            "id": 4,
            "name": "供应业"
        }, {"id": 5, "name": "能源业"}, {"id": 6, "name": "应试教育"}, {"id": 7, "name": "新车汽车"}, {"id": 8, "name": "二手汽车"}, {"id": 9, "name": "手游"}, {"id": 10, "name": "电商"}, {"id": 11, "name": "视频"}, {"id": 12, "name": "旅游"}, {"id": 13, "name": "二次元"}, {"id": 14, "name": "互联网金融"}];


        layui.config({
            base: "/static/"
        }).extend({
            selectM: "./layui/layui_extends/selectM"
        }).use(["layer", "form", "jquery", "upload", "selectM"], function () {
            $ = layui.jquery;
            var form = layui.form
                , upload = layui.upload
                , selectM = layui.selectM;

            var tagIns1 = selectM({
                elem: "#project_label",
                data: labelData,
                delimiter: ",",
                field: {idName: "id", titleName: "name"}
            });

            var tagIns2 = selectM({
                elem: "#project_member",
                data: person,
                delimiter: ",",
                field: {idName: "id", titleName: "name"}
            });

            var uploadInst = upload.render({
                elem: "#file1",
                url: "/jijin/guquan_file/",
                accept: "file",
                done: function (res) {
                    if (res.code > 0) {
                        return layer.msg("上传失败！");
                    }
                    layer.msg("上传成功");
                    document.getElementById("research_file_url").value = res.url;
                }
                , error: function () {
                    var demoText = $("#demoText");
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find(".demo-reload").on("click", function () {
                        uploadInst.upload();
                    });
                }
            });

            var uploadInst_2 = upload.render({
                elem: "#file2",
                url: "/jijin/guquan_file/",
                done: function (res) {
                    if (res.code > 0) {
                        return layer.msg("上传失败！");
                    }
                    layer.msg("上传成功");
                    document.getElementById("reference_file_url").value = res.url;
                }
                , error: function () {
                    var demoText = $("#demoText_2");
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find(".demo-reload").on("click", function () {
                        uploadInst_2.upload();
                    });
                }
            });

            var uploadInst_3 = upload.render({
                elem: "#file3",
                url: "/jijin/guquan_file/",
                done: function (res) {
                    if (res.code > 0) {
                        return layer.msg("上传失败！");
                    }
                    layer.msg("上传成功");
                    document.getElementById("test_file_url").value = res.url;
                }
                , error: function () {
                    var demoText = $("#demoText_3");
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find(".demo-reload").on("click", function () {
                        uploadInst_3.upload();
                    });
                }
            });

        })

    </script>
{% endblock %}