<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/login_styles.css">
    <title>登录</title>
</head>
<body>
    <div class="jq22-container" style="padding-top:10px">
	<div class="login-wrap">
		<div class="login-html">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">登录</label>
			<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">注册</label>

            <div class="login-form">
                <form method="post" action="" >
				    <div class="sign-in-htm">
					<div class="group">
						<label for="user" class="label">用户名</label>
						<input id="user" value="{{ username }}" name="username" type="text" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">密码</label>
						<input id="pass" name="pwd" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<input name="jizhu" id="check" type="checkbox" class="check" checked>
						<label for="check"><span class="icon"></span>记住用户名</label>
					</div>
					<div class="group">
						<input type="submit" class="button" value="登 录">
					</div>
                    <p class="text-center text-danger" style="color: red; ">{{ error }}</p>
					<div class="hr"></div>

					<div class="foot-lnk">
						<a href="#forgot">忘记密码</a>
					</div>

				</div>
                </form>

                <form method="post" action="/user/register_handle/" >
                    <div class="sign-up-htm">
					<div class="group">
						<label for="user" class="label">用户名</label>
						<input id="user" name="user_name" type="text" class="input">
					</div>
					<div class="group">
						<label for="pass" class="label">密码</label>
						<input id="pass" name="pwd_1" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<label for="pass" class="label">重复密码</label>
						<input id="pass" name="pwd_2" type="password" class="input" data-type="password">
					</div>
					<div class="group">
						<label for="pass" class="label">邮件</label>
						<input id="pass" name="email" type="text" class="input">
					</div>
					<div class="group">
						<input type="submit" class="button" value="注 册">
					</div>
					<div class="hr"></div>
				</div>
                </form>
			</div>
		</div>
	</div>
</div>
</body>
</html>