<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登入</title>
</head>
<body>
    <div><h1>用户登入</h1><a href="/user/register">用户注册</a> </div>
    <div>
        <form action="/user/login_handle/" method="post">
            {% csrf_token %}
            <input type="text" name="username" value="{{ username }}" placeholder="请输入用户名">
            <input type="password" name="pwd" value="{{ upwd }}" placeholder="请输入密码">
            <input type="submit" name="" value="登入" class="input_submit">
        </form>
    </div>
</body>
</html>