{% extends "user/user_base.html" %}

{% block content %}
    <form class="layui-form" method="post" action="">

        <fieldset class="layui-elem-field site-demo-button" style="margin-top: 20px;">
            {#                <div class="layui-form-item layui-form-label">#}
            {#                    <p style="font-size: 20px">基本信息</p>#}
            {#                </div>#}
            <legend>修改密码</legend>

            <div class="layui-form-item" style="margin-top: 30px">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-block">
                    <input type="password" lay-verify="username" lay-filte="old_pwd" name="old_pwd" required
                           onblur="check_user_pwd()" class="layui-input" placeholder="请输入旧密码">
                </div>
                {#                <div class="layui-form-mid layui-word-aux layui-inline">辅助文字</div>#}
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block">
                    <input type="password" lay-verify="pass" name="new_pwd" required class="layui-input"
                           placeholder="请输入新密码">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block">
                    <input type="password" lay-verify="pass" name="re_pwd" required class="layui-input"
                           placeholder="请再次输入新密码">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" style="color: red">*</label>
                <div class="layui-form-mid layui-word-aux">
                    密码必须6到12位，且不能出现空格。
                </div>


            </div>


        </fieldset>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type="submit" lay-submit="" lay-filter="demo1">提交</button>
                {#                    <button class="layui-btn layui-btn-primary" lay-filter type="submit" action="cache">暂存</button>#}
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script>
        layui.use(["form", "layer"], function () {
            var form = layui.form
                , layer = layui.layer;

            form.verify({


                //我们既支持上述函数式的方式，也支持下述数组的形式
                //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
                 pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
            });

            form.on("submit(demo1)", function (data) {
                {#layer.msg(JSON.stringify(data.field));#}
                {#console.log(data.field);#}
                {#layer.msg("fdg");#}
                var old_pwd = data.field.old_pwd;
                var new_pwd = data.field.new_pwd;
                var re_pwd = data.field.re_pwd;
                var dataSend = {"old_pwd": old_pwd, "new_pwd": new_pwd, "re_pwd": re_pwd};
                {#layer.msg(dataSend);#}
                $.ajax({
                    url: "/user/account/chpwd_handle/",
                    type: "post",
                    data: dataSend,
                    dataType: "json",
                    success: function (res) {
                        {#console.log(res);#}
                        {#console.log(typeof res);#}
                        if (res === 1) {
                            layer.msg("密码不正确！", {
                                time: 3000
                            })
                        } else if (res === 2) {
                            layer.msg("两次输入的密码不一致！", {
                                time: 3000
                            })
                        } else if (res === 3) {
                            layer.msg("修改成功！", {
                                time: 3000
                            });
                            window.location.href="/user/account/"

                        }
                    }
                });
                return false
            })
        });

        layui.use('jquery', function () {
            var $ = layui.jquery;
            var error_pwd = false;
            $("#old_pwd").blur(function () {
                var pwd = $("old_pwd").val();
                $.get("/user/account/expwd/?pwd=" + pwd, function (data) {
                    if (data.result) {
                        error_pwd = false;
                    } else {
                        $("old_pwd").next().html("密码错误").show();
                        error_pwd = true;
                    }
                })
            })
        });

        function check_user_pwd() {
            var $ = layui.$;

        }

    </script>
{% endblock %}