<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form action="/user/register_handle/" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label>用户名：</label>
                <input type="text" name="user_name">
            </li>
            <li>
                <label>密码：</label>
                <input type="password" name="pwd">
            </li>
            <li>
                <label>确认密码：</label>
                <input type="password" name="cpwd">
            </li>
            <li>
                <label>邮箱：</label>
                <input type="text" name="email">
            </li>
            <li class="reg_sub">
                <input type="submit" value="注册" onclick="" name="">
            </li>

        </ul>
    </form>
</body>
</html>